body, html{
    margin:0;
    color: black;
    font-family: 'Anton', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
}

.std-image{
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

.front-page-main{
    background:url(images/16.jpg); 
    background-repeat:no-repeat;
    background-size: 100%; 
}

.front-page{
    text-align: center;
    font-size: 6rem;
    color: white;
    margin-top: 6%;    
}

.front-page-btn{
    color: black;
    position: absolute;
    left: 44%;
    top: 55%;
    font-family: 'Anton', sans-serif;
    background-color:white;
    border: none;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 24px;
    border-radius: 4px;
}

.front-page-btn:hover{
    border: 2px solid  rgb(90, 90, 90);
    padding: 18px 30px;
}

/*  -----   shop.html   -----   */
.product-page-main{
    background:url(images/8.jpg); 
    background-repeat:no-repeat; 
    background-size: 100% 100%;
}

.head-text{
    text-align: center;
    font-size: 3rem;
}

.search-bar{
    float: none;
    position: absolute;
    left: 50%;  
    transform: translate(-50%, -50%);
}

.name-search{
    background-color: rgb(214, 214, 214);
    padding:6px 10px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.artist-search{
    background-color: rgb(214, 214, 214);
    padding:6px 10px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.scale-search{
    background-color: rgb(214, 214, 214);
    padding:6px 10px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.submit-search{
    background-color: rgb(214, 214, 214);
    padding:6px 10px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.row{
    margin-top:8%;
    margin-left: 10%;
}

.column{
    float: left;
    width: 29%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.product-brief{
    float:left;
}

.more-info{
    float:right;
    margin-top:2%;
    margin-right:4%;
}

.product-brief-name{
    font-size: 24px;
    margin:0;
    padding:0;
}

.product-brief-price{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    margin:0;
    padding:0;
    font-weight: 900;
}

.more-info-btn{
    color: black;
    font-family: 'Anton', sans-serif;
    background-color:white;
    border: none;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 20px;
    border-radius: 4px;
}

.more-info-btn:hover{
    border: 2px solid  rgb(90, 90, 90);
    padding: 8px 10px;
}


















/*   REFERENCES   */
<link href= 'https://fonts.googleapis.com/css?family=Anton|Montserrat ' rel= 'stylesheet '>
font-family: 'Anton', sans-serif;
font-family: 'Montserrat', sans-serif;