<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->
 
   <servlet>
      <servlet-name>Select</servlet-name>
      <servlet-class>Select</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>Display</servlet-name>
      <servlet-class>Display</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>Question</servlet-name>
      <servlet-class>Question</servlet-class>
   </servlet>

   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>Select</servlet-name>
      <url-pattern>/select</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>Display</servlet-name>
      <url-pattern>/display</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>Question</servlet-name>
      <url-pattern>/question</url-pattern>
   </servlet-mapping>
 
</web-app>